/*

SUMÁRIO 

    0. Configurações Gerais
    1. Index

*/

/* 0. Configurações Gerais */

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500;700&family=Courgette&family=Lora:wght@400;700&family=Nunito&display=swap');

:root{
    --csv-comfortaa: 'Comfortaa',arial;
}


/* 1. Index */

@media only screen and (max-width: 1281px){
    .main-team-content-card-container{
        column-gap: 15px;
    }
    .main-team-content-card-image{
        width: 110px;
        height: 110px;
    }
}

@media only screen and (max-width: 1244px){
    .header-nav-menu-link{
        margin-inline: 30px;
    }
}

@media only screen and (max-width: 1126px){
    .header-nav-menu-link{
        margin-inline: 15px;
    }
    .main-team-content-card-container{
        column-gap: 0px;
        row-gap: 25px;
    }
    .main-team-content-card{
        width: 65%;
    }
    .main-team-content-card-image{
        width: 160px;
        height: 110px;

        background-size: cover;
    }
    .main-team-content-card-text-desc{
        width: auto;
    }
}

@media only screen and (max-width: 1020px){
    .main-banner-title{
        flex-wrap: wrap;
        row-gap: 20px;
        height: auto;
    }
    .main-banner-title-text{
        text-align: center;
    }
}

@media only screen and (max-width: 1010px){
    .header-nav{
        display: block;
       
       padding-left: 10px;
       padding-right: 10px; 
    }
    .header-nav-logo{
        margin-top: -50px;
    }
    .header-nav-mobile-menu-trigger{
        display: block;
        position: absolute;
        top: 46px;

        font: normal bold 30px var(--csv-comfortaa);
        color: #FFF;
    }
    .init-display-mobile{
        display: none;
    }
    .header-nav-menu:first-of-type{
        margin-top: 50px;
    }
    .header-nav-menu-item{
        display: block;

        padding: 10px 0;

        border-bottom: 1px solid #FFF;
    }
    #first-of-nav{
        border-top: 1px solid #FFF;
    }
    .header-nav-menu-link{
        margin-inline: 0;
    }
    .footer-bottom{
        flex-wrap: wrap;
        row-gap: 10px;
    }
    .footer-bottom > *{
        flex-basis: 100%;
        text-align: center;
    }
}

@media only screen and (max-width: 990px){
    .footer-top{
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .footer-top-menu{
        flex-basis: 100%;
        text-align: center;
        margin: 15px 0;
    }
    .main-banner-food{
        flex-direction: column;
    }
    .main-banner-food-sec{
        height: calc((100% / 3) + 20px);
        width: 100%;
    }
    .bfs-left{
        clip-path: polygon(0 calc(100% - 30px), 0 0, 100% 0, 100% 100%);
    }
    .bfs-mid{
        margin-top: -20px;
        margin-left: 0;
        clip-path: polygon(0 calc(100% - 30px), 0 0, 100% 30px, 100% 100%);
    }
    .bfs-right{
        margin-top: -20px;
        margin-left: 0;
        clip-path: polygon(0 100%, 0 0, 100% 30px, 100% 100%);
    }
}

@media only screen and (max-width: 700px){
    .main-team-content-card{
        width: 80%;
    }
    .main-offer-content-card{
        width: 40%;
    }
    .main-offer-content-card-image{
        width: calc(100% - 2px);
    }
}

@media only screen and (max-width: 650px){
    .main-history{
        background-size: cover;
    }
    footer{
        grid-template-columns: none;
        grid-template-rows: 10% 90%;
        grid-auto-flow: row;
    }
    #footer-reserva{
        grid-template-columns: none;
        grid-template-rows: 0% 100%;
    }
    .footer-side{
        padding: 15px 0;

        border-right: none;
        border-bottom: 2px solid #FFF;
    }
    .footer-top{
        padding: 12.5px 40px;
    }
    .footer-top-sm{
        flex-basis: 100%;
        text-align: center;

        margin: 25px 0;
    }
    .fa-brands-ft{
        font-size: 40px;
    }
    .footer-top-nl{
        flex-basis: 100%;
    }
}

@media only screen and (max-width: 600px){
    .main-history-content-text{
        margin-top: 75px;

        font-size: 16px;

        line-height: 30px;
    }
    .main-team-content-card{
        flex-direction: column;
    }
    .main-team-content-card-image{
        height: 90px;
        width: 90px;

        padding: 5px 0;
        margin-right: 0;
    }
}

@media only screen and (max-width: 550px){
    .main-history-content-title{
        right: 0;

        padding: 10px 0;
        border-radius: 0;

        text-align: center;
    }
    .main-offer-content-title{
        left: 10%;

        padding: 10px 0;
        border-radius: 0;

        text-align: center;
    }
}

@media only screen and (max-width: 500px){
    .main-history-content{
        padding: 70px 35px;
    }
    .main-history-content-text{
        text-align: justify;
    }
    .main-offer-content-card{
        flex-direction: row;

        width: 80%;
    }
    .main-offer-content-card-image-pic{
        border-radius: 10px 0 0 10px;
    }

}

@media only screen and (max-width: 390px){
    .header-nav-logo{
        font-size: 40px;
    }
    .header-nav-mobile-menu-trigger{
        font-size: 21px;
    }
}

@media only screen and (max-width: 343px){
    .main-team-content{
        padding-top: 184px;
    }
}


/* 2. Menu */

@media only screen and (max-width: 1285px){
    #text-indent{
        margin-left: 22.5px;
    }
}

@media only screen and (max-width: 1230px){
    .long-title{
        font-size: 16px;
    }
    .long-option{
        font-size: 14px;
    }
    #pp-option{
        font-size: 14px;
    }
    #text-indent{
        margin-left: 21.5px;
    }
}

@media only screen and (max-width: 1000px){
    .main-menu{
        grid-template-columns: none;
        grid-template-rows: 15% 80%;
    }
    
    .long-option, #pp-option{
        font-size: 16px;
    }
    #text-indent{
        margin-left: 0;
    }
    .main-menu-aside{
        margin: -40px auto 50px auto;
        top: 40px;
    }
    .main-menu-aside-nav-list-options{
        display: inline;

        padding: 30px 7.5px;

        border-bottom: none;
    }
    .fa-food{
        padding-right: 30px;
        padding-left: 10px;
    }
    #first-option{
        border-top: none;
        border-top-right-radius: 0;
        border-top-left-radius: 15px;
    }
    #last-option{
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 15px;
    }
    .main-menu-food-div{
        margin-bottom: -90px;
        padding-top: 90px;
    }
}

@media only screen and (max-width: 805px){
    .main-menu-food-div-container{
        grid-template-columns: 45% 45%;
    }
    .long-title{
        font-size: 20px;
    }
}

@media only screen and (max-width: 775px){
    .fa-food{
        padding-right: 10px;
    }
}

@media only screen and (max-width: 690px){
    .main-menu-aside-nav-list-options, #pp-option{
        font-size: 14px;
    }
    .long-title{
        font-size: 16px;
    }
}

@media only screen and (max-width: 625px){
    .main-menu-aside-nav-list-options, #pp-option{
        font-size: 12px;
    }
}

@media only screen and (max-width: 565px){
    .main-menu{
        width: 100%;
    }
    .main-menu-aside-nav-list{
        display: grid;
        grid-template-columns: repeat(25%);
        width: 100%;
        justify-content: space-between;
        grid-auto-flow: column;
    }
    .main-menu-aside-nav-list-options, #pp-option{
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 16px;
        height: 100%;

        padding-top: 10px;
    }
    .long-option{
        font-size: 14px;
    }
    .fa-food{
        padding: 0px 45px 25px 45px;
    }
    .main-menu-food-div{
        margin-bottom: -160px;
        padding-top: 160px;
    }
    #footer-menu{
        margin-top: 160px;
    }
}
@media only screen and (max-width: 500px){
    .fa-food{
        padding: 0px 22.5px 12.5px 22.5px;
    }
    .main-menu-aside-nav-list-options, #pp-option{
        font-size: 14px;
    }
}
@media only screen and (max-width: 390px){
    .main-menu-aside-nav-list-options, #pp-option{
        font-size: 12px;
    }
    .main-menu-food-div-container{
        grid-template-columns: 100%;
    }

}


/* 3. Reserva */

@media only screen and (max-width: 1085px){
    .main-booking-form{
        padding: 30px 50px;
    }
}

@media only screen and (max-width: 915px){
    .main-booking-form{
        padding: 30px 25px;
    }
}

@media only screen and (max-width: 830px){
    .main-booking-form{
        padding: 30px 10px;
    }
}

@media only screen and (max-width: 780px){
    .main-booking{
        grid-template-columns: 100%;
    }
    .main-booking-form{
        padding: 30px 100px;
    }
}

@media only screen and (max-width: 650px){
    .main-booking-form{
        padding: 30px 40px;
    }
}

@media only screen and (max-width: 535px){
    .main-booking-form{
        padding: 30px 20px;
    }
}

@media only screen and (max-width: 495px){
    .main-booking-form{
        align-items: center;
    }
    .form-container{
        flex-direction: column;
    }
}


/* 4 - Contato */

@media only screen and (max-width: 565px){
    .contact-section-si-area{
        flex-wrap: wrap;
        row-gap: 15px;
    }
}