/*

SUMÁRIO 

    0. Configurações Gerais
    1. Header
        1.1 Dropdown
    2. Footer
        2.1 Footer Top
        2.1 Footer Bottom
    3. Homepage
        3.1 Main - Homepage
            3.1.1 Banner - Homepage
            3.1.2 History - Homepage
            3.1.3 Offer - Homepage
            3.1.4 Team - Homepage
    4. Cardápio

*/

/* 0. Configurações Gerais */

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500;700&family=Courgette&family=Lora:wght@400;700&family=Nunito&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root{
    --ptn-white: #FEF9FF;
    --ptn-black: #000000;
    --pcp-orange: #FF934F;
    --drk-orange: #C7703A;
    --pcp-grey: #575A5E;
    --opc-grey: rgba(87, 90, 94, 0.80);
    --lgt-grey: #9AA0A8;

    --brd-fb: #37548E;
    --brd-tt: #33B0F2;
    --brd-ig: #BD248C;

    --srf-lora: 'Lora',times;
    --csv-comfortaa: 'Comfortaa',arial;
    --csv-courgette: 'Courgette', arial;
    --ssf-nunito : 'Nunito',arial;
}

.hidden{
    opacity: 0;
    transform: translateY(100%);
    transition: all 1s;
}

.slide-show{
    opacity: 1;
    transform: translateY(0);
}


/* 1. Header */

header{
    margin: 18px 0;

    background-color: var(--pcp-orange);
}

.header-nav{
    display: grid;
    grid-template-columns: 25% 30% 25%;
    column-gap: 5%;
    justify-content: center;
    align-items: center;

    padding: 20px 0px;
}

.header-nav-logo{
    font: normal bold 50px var(--csv-comfortaa);
    color: var(--ptn-white);

    text-align: center;
}

.header-nav-menu{
    text-align: center;
}

.header-nav-menu-link{
    text-decoration: none;   

    margin-inline: 40px;
}

.header-nav-menu-item{
    display: inline;

    font: normal normal 22px var(--csv-comfortaa);
    color: var(--ptn-white);

    transition: 0.25s ease-in-out;
}

.header-nav-menu-item:hover{
    color: rgba(255, 255, 255, 0.7);

    transition: 0.25s ease-in-out;
}

/* 1.1 Dropdown */

.div-dropdown{
    position: relative;
    display: inline-block;
}

.div-dropdown-content{
    display: none;
    position: absolute;

    width: 100%;

    background-color: var(--ptn-white);

    z-index: 3;
}

.div-dropdown-content-link{
    display: block;

    padding: 10px;

    font: normal normal 18px var(--csv-comfortaa);
    color: var(--pcp-grey);

    border-top: 1px solid var(--pcp-orange);

    text-decoration: none;

    transition: all 0.5s;
}

.div-dropdown:hover .div-dropdown-content{
    display: block;
}

.div-dropdown-content-link:hover{
    background-color: var(--pcp-grey);
    color: var(--ptn-white);

    transition: all 0.5s ease-in-out;
}


/* 3. Homepage */

/* 3.1 Main - Homepage */

main{
    margin: auto;

    width: calc(100% - 20px);
}

/* 1.2.1 Banner - Homepage */

.main-banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: calc(100vh - 130px);

    margin-bottom: 100px;
}

.main-banner-title{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    padding: 10px 20px;

    height: 15%;
    width: 100%;

    background-color: var(--pcp-grey);
}

.main-banner-title-text{
    font: normal bold 35px var(--srf-lora);
    color: var(--ptn-white);
}

.main-banner-title-button{
    padding: 5px 80px;

    font: normal bold 26px var(--srf-lora);
    color: var(--ptn-white);

    background: linear-gradient(to right, var(--ptn-white) 50%, var(--pcp-orange) 50%);
    background-size: 200% 100%;
    background-position: right bottom;

    border: 0.5px solid var(--ptn-white);
    border-radius: 15px;

    text-decoration: none;
    cursor: pointer;

    transition: all 0.5s ease-out;
}

.main-banner-title-button:hover{
    background-position: left bottom;
    color: var(--pcp-orange);
}

.main-banner-food{
    display: flex;
    
    margin-top: 10px;

    height: 100%;
    width: 100%;
}

.main-banner-food-sec{
    height: 100%;
    width: calc((100% / 3) + 20px);
}

.bfs-left{
    clip-path: polygon(0 0, 100% 0, calc(100% - 30px) 100%, 0% 100%);
    background-image: url(../media/lasagna-jumbotron.jpg);
    background-size: cover;
    background-position: center center;
}

.bfs-mid{
    margin-left: -20px;
    clip-path: polygon(30px 0, 100% 0, calc(100% - 30px) 100%, 0% 100%);
    background-image: url(../media/pasta1-jumbotron.jpg);
    background-size: cover;
    background-position: center center;
}

.bfs-right{
    margin-left: -20px;
    clip-path: polygon(30px 0, 100% 0, 100% 100%, 0% 100%);
    background-image: url(../media/pasta2-jumbotron.jpg);
    background-size: cover;
    background-position: center center;
}


/* 3.1.2 History - Homepage */

.main-history{
    display: grid;
    grid-template-columns: 10% 90%;

    height: 75vh;

    margin-bottom: 100px;

    background-image: linear-gradient(to right, var(--opc-grey), var(--opc-grey)), url(/media/history-bg.jpg);
    background-size: auto;
    background-position: center center;
}

.main-history-side{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    padding: 30px 10px;

    border-right: 3px solid var(--ptn-white);
}

.fa-chevron-up, .fa-chevron-down{
    font-size: 40px;
    color: var(--ptn-white);
}

.main-history-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 30px 75px;
}

.main-history-content-title{
    position: absolute;
    top: 35px;
    left: 10%;

    padding: 10px 40px 10px 55%;

    font: normal bold 40px var(--csv-comfortaa);
    color: var(--ptn-white);

    background-color: var(--pcp-orange);

    border-bottom-right-radius: 10px;
}

.main-history-content-text{
    margin-top: 110px;

    font: normal normal 20px var(--ssf-nunito);
    color: var(--ptn-white);

    text-align: center;

    line-height: 40px;
}


/* 3.1.3 Offer - Homepage */

.main-offer{
    display: grid;
    grid-template-columns: 10% 90%;

    margin-bottom: 100px;

    height: 95vh;

    background-image: linear-gradient(to right, var(--opc-grey), var(--opc-grey)), url(/media/table-background.jpg);
    background-size: cover;
    background-position: center center;
}

.main-offer-side{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    border-right: 3px solid var(--ptn-white);
}

.main-offer-content{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.main-offer-content-title{
    position: absolute;
    top: 35px;
    right: 0;

    padding: 10px 55% 10px 40px;

    font: normal bold 40px var(--csv-comfortaa);
    color: var(--pcp-orange);

    background-color: var(--ptn-white);

    border-bottom-left-radius: 10px;
}

.main-offer-content-card-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    row-gap: 30px;
    column-gap: 40px;

    margin-top: 100px;
}

.main-offer-content-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 300px;

    border: 1px solid var(--ptn-white);
    border-radius: 10px;

    background-color: var(--ptn-white);
}

.main-offer-content-card-image{
    position: relative;
    
    height: 148px;
    width: 298px;

    overflow: hidden;
}

.main-offer-content-card-image-pic{
    border-radius: 10px 10px 0 0;

    height: 100%;
    width: 100%;
}

.main-offer-content-card-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: var(--opc-grey);

    border-radius: 10px 10px 0 0;

    transform: translateY(100%);
    visibility: hidden;

    transition: all 0.4s;
}

.main-offer-content-card-info-title{
    margin-bottom: 25px;

    font: normal bold 20px var(--srf-lora);
    color: var(--ptn-white);

    text-decoration: underline;
}

.main-offer-content-card-info-link{
    padding: 7.5px;

    font: normal bold 12px var(--ssf-nunito);
    color: var(--ptn-white);
    text-transform: uppercase;

    border: none;

    background-color: var(--pcp-orange);

    cursor: pointer;

    transition: all 0.5s ease-in-out;
}


.main-offer-content-card-info-link:hover{
    background-color: var(--ptn-white);
    color: var(--pcp-orange);
}

.main-offer-content-card-image:hover .main-offer-content-card-info{
    transform: translateY(0px);
    visibility: visible;

    transition: all 0.4s;
}

.main-offer-content-card-price{
    padding: 5px;

    font-family: var(--csv-comfortaa);

    text-align: center;
}

.main-offer-content-card-price-line{
    margin-bottom: 7.5px;

    font-size: 15px;
    color: var(--lgt-grey);

    text-decoration: line-through;
}

.main-offer-content-card-price-promo{
    font-size: 25px;
    font-weight: bold;
    color: var(--pcp-grey);
}


/* 3.1.4 Team - Homepage */

.main-team{
    display: grid;
    grid-template-columns: 10% 90%;

    margin-bottom: 200px;

    background-image: linear-gradient(to right, var(--opc-grey), var(--opc-grey)), url(/media/ourteam-bg.jpg);
    background-size: cover;
    background-position: center center;
}

.main-team-side{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    border-right: 3px solid var(--ptn-white);
}

.main-team-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 100px 75px;
    margin-top: 40px;
}

.main-team-content-title{
    position: absolute;
    top: 35px;
    right: 0;
    left: 10%;

    padding: 10px 0;

    font: normal bold 40px var(--csv-comfortaa);
    color: var(--pcp-grey);

    text-align: center;

    background-color: var(--ptn-white);
}

.main-team-content-card-container{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 15px;
}

.main-team-content-card{
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 10px 25px;

    background-color: var(--ptn-white);

    border-radius: 15px;
}

.main-team-content-card-image{
    margin-right: 25px;

    height: 150px;
    width: 150px;

    background-image: url(../media/chef-draw.png);
    background-size: contain;
    background-position: center center;

    border: 4.5px solid var(--pcp-grey);
    border-radius: 180px;
}

.main-team-content-card-text{
    text-align: center;
}

.main-team-content-card-text-name{
    font: normal bold 28px var(--ssf-nunito);
    color: var(--pcp-orange);

    border-bottom: 2.5px dotted var(--pcp-orange);
}

.main-team-content-card-text-desc{
    margin: 7.5px 0;
    padding: 2.5px 0;

    width: 145px;

    font: normal normal 14px var(--ssf-nunito);
    color: var(--pcp-grey);

    border-bottom: 2.5px dotted var(--pcp-orange);
}

.main-team-content-card-text-sm{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.fa-brands{
    font-size: 28px;
    color: var(--pcp-orange);

    transition: all 0.25s ease-in-out;
}

.fa-square-facebook:hover{
    color: var(--brd-fb);
    cursor: pointer;
}

.fa-square-twitter:hover{
    color: var(--brd-tt);
    cursor: pointer;
}

.fa-square-instagram:hover{
    color: var(--brd-ig);
    cursor: pointer;
}


/* 2. Footer */

footer{
    display: grid;
    grid-template-columns: 10% 90%;
    align-items: center;
    justify-content: center;
    grid-auto-flow: column;
}

.footer-side{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    height: 100%;

    background-color: var(--pcp-grey);

    border-right: 2px solid var(--ptn-white);
}

.footer-side-text{
    font: normal bold 24px var(--ssf-nunito);
    color: var(--ptn-white);
}

.footer-sections{
    height: 100%;
}

/* 2.1 Footer Top */

.footer-top{
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 7.5px 40px;

    background-color: var(--pcp-orange);
}

.footer-top-menu-nav-list{
    list-style: none;
}

.footer-top-menu-item{
    display: inline;

    margin-inline: 5px 5px;

    font: normal normal 16px var(--ssf-nunito);
    color: var(--ptn-white);

    transition: all 0.25s ease-in-out;
}

.footer-top-menu-item:hover{
    color: var(--lgt-grey);
    cursor: pointer;
}

.fa-brands-ft{
    margin-inline: 15px;

    color: var(--ptn-white);
}

.footer-top-nl{
    text-align: center;
}

.footer-top-nl-text{
    margin-bottom: 7.5px;

    font: normal bold 16px var(--ssf-nunito);
    color: var(--ptn-white);
}

.footer-top-nl-input{
    padding: 2px 2.5px;

    width: 200px;
    height: 25px;

    font: normal normal 16px var(--ssf-nunito);
    color: var(--pcp-grey);

    border: none;
}

.footer-top-nl-btn{
    padding: 2px 2.5px;

    height: 20px;

    font: normal bold 14px var(--ssf-nunito);
    color: var(--pcp-orange);

    background-color: var(--ptn-white);

    border: none;

    transition: all 0.25s ease-in-out;
}

.footer-top-nl-btn:hover{
    background-color: var(--pcp-grey);
    color: var(--ptn-white);
    cursor: pointer;
}


/* 2.2 Footer Bottom */

.footer-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 7.5px 40px;

    background-color: var(--drk-orange);

    border-top: 2px solid var(--ptn-white);
}

.footer-bottom-logo-text{
    font: normal bold 50px var(--csv-comfortaa);
    color: var(--ptn-white);
}

.footer-bottom-cr-text{
    font: normal normal 16px var(--ssf-nunito);
    color: var(--ptn-white);
}

/* 4. Cardápio */

.main-menu{
    display: grid;
    grid-template-columns: 15% 80%;
    align-items: center;
    justify-content: space-between;

    margin: 100px auto 100px auto;

    width: 90%;
}


/* 4.1 Menu Lateral */

.main-menu-aside-nav-list{
    list-style: none;
}

.main-menu-aside-nav-list-link{
    text-decoration: none;
}

.main-menu-aside-nav-list-options{
    padding: 30px 7.5px;

    font: normal bold 16px var(--csv-comfortaa);
    color: var(--ptn-white);

    background-color: var(--pcp-grey);

    border-bottom: 1px solid var(--ptn-white);

    transition: all 0.25s ease-in-out;
}

#first-option{
    border-top: 1px solid var(--ptn-white);
    border-top-right-radius: 15px;
}

#last-option{
    border-bottom-left-radius: 15px;
}

.main-menu-aside-nav-list-options:hover{
    color: var(--ptn-white);
    background-color: var(--lgt-grey);
}


/* 4.2 Menu Central */

.main-menu-food-div-title{
    padding-bottom: 25px;

    font: normal normal 40px var(--csv-courgette);
    color: var(--pcp-orange);

    text-align: center;

    border-bottom: 1.5px solid var(--ptn-black);
}

.main-menu-food-div-container{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    align-items: center;
    justify-content: space-between;

    padding: 15px;
}

.main-menu-food-div-item{
    display: flex;
    flex-direction: column;
}

.main-menu-food-div-item-title{
    margin-bottom: 15px;

    font: normal bold 20px var(--ssf-nunito);
    color: var(--pcp-grey);

    text-transform: uppercase;
}

.main-menu-food-div-item-image{
    margin-bottom: 15px;

    border: 2.5px solid var(--pcp-orange);

    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.main-menu-food-div-item-price{
    margin-bottom: 15px;

    font: normal bold 16px var(--srf-lora);
    color: var(--pcp-orange);
}

.main-menu-food-div-item-desc{
    font: normal normal 14px var(--srf-lora);
    color: var(--pcp-grey);

    text-align: justify;
}